<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="javascript:;" href="javascript:;">后台菜单<span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd id="shouye">
                        <a href="/liuyan.php?c=index">首页</a>
                    </dd>
                    <volist name="list" id="vo" key="k">
                        <dd id="taiyuan">
                            <a href="/liuyan.php?c=index&a=liuyan&hospital={$vo.hid}">{$vo.hname}</a>
                        </dd>
                    </volist>
                </dl>
            </li>
        </ul>
    </div>
</div>
<script>
function t_nav() {

    var paths = document.URL;

    if (paths.indexOf("xinan") > 0) {

        $("#xinan").addClass("layui-this");

    } else if (paths.indexOf("guizhou") > 0) {

        $("#guizhou").addClass("layui-this");

    } else if (paths.indexOf("taiyuan") > 0) {

        $("#taiyuan").addClass("layui-this");

    } else {

        $("#shouye").addClass("layui-this");

    }

}

t_nav();
</script>